@import url("https://unpkg.com/wingcss");

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

input[type=number] {
  width: 100px;
  margin: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.temperatures {
  display: flex;
}

.temperatures > .temperature {
  margin-right: 20px;
  text-align: center;
  flex-basis: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.temperatures > .temperature > .value {
  font-size: 300%;
  font-weight: lighter;
  padding: 4px;
  flex-basis: 26px;
}

.temperatures > .temperature > h2 {
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
